<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :order_number %><br>
    <%= f.text_field :order_number %>
  </div>
  <div class="field">
    <%= f.label :shirt_size %><br>
    <%= f.collection_select(:shirt_size, Article::SHIRT_SIZES, :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :shirt_color %><br>
    <%= f.text_field :shirt_color %>
  </div>
  <div class="field">
    <%= f.label :letter_1 %><br>
    <%= f.collection_select(:letter_1, Article::LETTER_OPTIONS, :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :letter_2 %><br>
    <%= f.collection_select(:letter_2, Article::LETTER_OPTIONS, :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :letter_3 %><br>
    <%= f.collection_select(:letter_3, Article::OPTIONAL_LETTER_OPTIONS, :to_s, :to_s) %>
  </div>
  <div class="field">
    <%= f.label :top_color %><br>
    <%= f.text_field :top_color %>
  </div>
  <div class="field">
    <%= f.label :bottom_color %><br>
    <%= f.text_field :bottom_color %>
  </div>
<!--   <div class="field">
    <%= f.label :letter_count %><br>
    <%= f.select :letter_count, (1..3) %>
  </div> -->
  <div class="field">
    <%= f.label :shipping_amount %><br>
    <%= f.text_field :paid_shipping %>
  </div>
  <div class="field">
    <%= f.label :shipping_spent %><br>
    <%= f.text_field :shipping_spent %>
  </div>
  <div class="field">
    <%= f.label :order_code %><br>
    <%= f.text_field :order_code %>
  </div>
  <div class="field">
    <%= f.label :order_total %><br>
    <%= f.text_field :order_total %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.select :quantity, (1..100) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
