<p id="notice"><%= notice %></p>


<h1 class='title'>Unique Greek Letter Inventory</h1>

<table class='table'>
  <thead>
    <tr>
      Top Letters
    </tr>
    <tr>
      <th>Letter</th>
      <th>Color</th>
      <th>Count</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>Add Set</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @letters.each do |letter| %>
      <% if letter.position == 'top' %>
        <tr>
          <td><%= letter.name %></td>
          <td><%= letter.color %></td>
          <td><%= letter.number %></td>
          <!-- <td><%= link_to 'Show', letter %></td> -->
          <td><%= link_to edit_letter_path(letter), class: 'btn btn-default' do %>
            <i class='glyphicon glyphicon-pencil'></i>
            <% end %>
          </td>
          <td>
            <%= link_to letter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
              <i class='glyphicon glyphicon-remove'></i>
            <% end %>
          </td>
          <td>
            <%= link_to letter, method: :add_set, data: {confirm: "Are you sure we ordered this?"}, class: 'btn btn-default' do %>
              <i class='glyphicon glyphicon-plus'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<table class='table'>
  <tbody>
    <thead>
      <tr>
        Bottom Letters
      </tr>
      <tr>
        <th>Top Letter</th>
        <th>Color</th>
        <th>Count</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Add Set</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @letters.each do |letter| %>
      <% if letter.position == 'back' %>
         <tr>
          <td><%= letter.name %></td>
          <td><%= letter.color %></td>
          <td><%= letter.number %></td>
          <!-- <td><%= link_to 'Show', letter %></td> -->
          <td><%= link_to edit_letter_path(letter), class: 'btn btn-default' do %>
            <i class='glyphicon glyphicon-pencil'></i>
            <% end %>
          </td>
          <td>
            <%= link_to letter, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
              <i class='glyphicon glyphicon-remove'></i>
            <% end %>
          </td>
          <td>
            <%= link_to letter, method: :add_set, data: {confirm: "Are you sure we ordered this?"}, class: 'btn btn-default' do %>
              <i class='glyphicon glyphicon-plus'></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

