<div class='login-container'>
<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <!-- <form action="#"> -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <div class="field">
          <%= f.email_field :email, autofocus: true, class: 'form-control', type: "text", placeholder: "email" %>
        </div>
      </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'password', type: 'password' %>
          </div>
        </div>

          <%= f.button "Log in", type: 'submit' %>
       </form>
    </div>
 </div>

<% end %>

<%= render "devise/shared/links" %>
</div>