<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>



<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
      <tr>
        <th>Shirt Type</th>
        <th>Color</th>
        <th>Size</th>
        <th>Count</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
          <td> <%= item.item_type %> </td>
          <td> <%= item.color %> </td>
          <td> <%= item.size %> </td>
          <td> <%= item.number %> </td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo1 </div> </td>
        </tr>
      <% end %>
    </tbody>
</table>
