<!DOCTYPE html>
<html>
<head>
  <title>Inventory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="script/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  <link rel="stylesheet" href="css/style.css"/>
  <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>

</head>
<body>

  <header id="header">
    <div>
      <div id="logo"><a href=""> UniQue Greek Online Apparel </a></div>
      <nav id="nav">
        <ul>
        <li><a href="#slide1" title="Next Section" >All Letters</a>
        </li>
        <li><a href="#slide2" title="Next Section">+ Letter</a></li>
        <li><a href="#slide3" title="Next Section">All Items</a></li>
        <li><a  href="#slide4" title="Next Section">+ Item</a></li>
        <li><a href="#slide5" title="Next Section">Orders</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="slide1">
    <div>
      <h3><a href="<%= letters_path %>">See Letter Inventory</a></h3>
    </div>
  </div>

  <div id="slide2">
    <div>
      <div>
        <h3><a href="<%= new_letter_path %>">Add a new Letter</a></h3>
      </div>
    </div>
  </div>

  <div id="slide3">
    <div>
      <div>
        <h3><a href="<%= items_path %>">See Item Inventory</a></h3>
      </div>
    </div>
  </div>

  <div id="slide4">
    <div>
      <div>
        <h3><a href="<%= new_item_path %>">Add New Item</a></h3>
      </div>
    </div>
  </div>

  <div id="slide5">
    <div>
      <div>
        <h3><a href="<%= new_order_path %>">Add New Order</a></h3>
      </div>
    </div>
  </div>


<!-- 

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<nav class='navbar navbar-default'>
  <div class='container-fluid'>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href=' <%= letters_path %>'>Letters</a></li>
        <li><a href=' <%= items_path %>'>Items</a></li>
        <li><a href=' <%= orders_path %>'>Orders</a></li>
      </ul>
      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= new_letter_path %>">Add Letter</a></li>
        <li><a href="<%= new_item_path %>">Add Item</a></li>
        <li><a href="<%= new_order_path %>">Add Order</a></li>
      </ul>
    </div>
  </div>
</nav> -->




<%= yield %>

</body>
</html>